*{
    margin: 0;
    padding: 0;
}
.navbar {
 overflow: hidden;
 background-color: #00DF70;
 position: fixed;
 top: 0;
 left:210px;
 width: 100%;
 
}

.navbar a {
 position:sticky;  
 top: 12; 
 float: left;
 display: flex;
 color: white;
 text-align: center;
 padding: 40px 20px;
 text-decoration: none;
 font-size: 18px;
 z-index:1;

}


.logo{
    background-attachment: fixed;
    background-position: 0% 0%;
    background-size:50px 50px;
    width:7%;
    height:2%;
    margin-left:3%;
    
   }
body{
    background-color: #00DF70;
}   
.nature{
    position:relative;
    display:inline-block;
    bottom:0px; 
    right:500px;
    height:auto;
}

.parag{
    color:#6B6B6B;
    position:absolute;
    display:inline-block;
    background: white;
    padding: 5%;
    top:50%;
    left:50%;
    box-shadow: -95px 0px 0px 0px #00df70ba
}

.button{
    color: white;
    position:absolute;
    display:inline-block;
    background: #00DF70;
    padding:1%;
    top:80%;
    left:60%;
}
.footer{
    display:flex;
    text-align:center;
    color:#6B6B6B;
    background-color: white;
    padding:10px;   
    justify-content: space-between;
    height: 20%;
}
.button1{
    color: white;
    position:absolute;
    display:inline-block;
    background: #00DF70;
    padding:1%;
    margin-right: 78%;
    margin-left:5%;
    padding-left:1%;
    padding-right:1%;
    transform:translateY(120px);
}
.footer1{
    flex:1;
    text-align:center;
    padding: 0 20px;
    color:#6B6B6B;

}